<div class="ui raised segment">
    <h2 class="ui header">Registration Form</h2>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form"
        [class.error]="!myForm.valid && myForm.touched">

        <div class="field" [class.error]="!myForm.get('name').valid && myForm.get('name').touched">
            <label for="nameInput">Name</label>
            <input type="text" id="nameInput" [formControl]="myForm.controls['name']">
            <div *ngIf="myForm.get('name').hasError('required')" class="ui error message">Name is required</div>
            <div *ngIf="myForm.get('name').hasError('invalidName')" class="ui error message">Name is invalid</div>
        </div>

        <div class="field" [class.error]="!myForm.get('email').valid && myForm.get('email').touched">
            <label for="emailInput">Email</label>
            <input type="text" id="emailInput" [formControl]="myForm.controls['email']">
            <div *ngIf="myForm.get('email').hasError('required')" class="ui error message">Email is required</div>
            <div *ngIf="myForm.get('email').hasError('invalidEmail')" class="ui error message">Email is invalid</div>
        </div>

        <div class="field" [class.error]="!myForm.get('password').valid && myForm.get('password').touched">
            <label for="passwordInput">Password</label>
            <input type="password" id="passwordInput" [formControl]="myForm.controls['password']">
            <div *ngIf="myForm.get('password').hasError('required')" class="ui error message">Password is required</div>
            <div *ngIf="myForm.get('password').hasError('invalidPassword')" class="ui error message">Passwords should be
                the same!</div>
            <div *ngIf="myForm.get('password').hasError('noNumberInPassword')" class="ui error message">Password should
                contain number!</div>
        </div>

        <div class="field" [class.error]="!myForm.get('passwordre').valid && myForm.get('passwordre').touched">
            <label for="passwordreInput">Password again</label>
            <input type="password" id="passwordreInput" [formControl]="myForm.controls['passwordre']">
            <div *ngIf="myForm.get('passwordre').hasError('required')" class="ui error message">Password is required
            </div>
            <div *ngIf="myForm.get('passwordre').hasError('invalidPassword')" class="ui error message">Passwords should
                be the same!</div>
            <div *ngIf="myForm.get('passwordre').hasError('noNumberInPassword')" class="ui error message">Passwords should
                contain number!</div>
        </div>

        <div *ngIf="!myForm.valid" class="ui error message">Form is invalid</div>

        <button class="ui button" type="submit">Submit</button>
    </form>
</div>